* {
    padding: 0;
    margin: 0;
}


header {
    width: cover;
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: aqua;
}

#logo {
    margin-top: 90px;
    width: 200px;
    height: 100px;
}

header > div {
    color: grey;
}

.color {
    color: blue;
}