/* parte iniziale */


header {
    margin: 0px;
    padding: 0px;
    width: cover;
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: aqua;
}

.container {
    margin: 0px 100px 0px 100px;
}

#logo {
    margin-top: 90px;
    width: 200px;
    height: 100px;
}

.grey {
    color: grey;
}

.color {
    color: blue;
}

.margin {
    margin: 30px 0px 30px 0px;
}

.evidenziato {
    background-color: yellow;
}
/* tabella */
.riga1 {
    font-size: 1.7em;
    color: white;
    background-color: aqua;
}

.riga2 {
    background-color: lightblue;
}
/* parte finale */
.imgmonitor {
    background-image: url(../img/monitor.jpg);
    height: 208px;
    width: 312px; 
    margin-bottom: 30px;
}

.imggraph {
    background-image: url(../img/graph.jpg);
    height: 207px;
    width: 311px; 
}

.scritta {
    font-size: 1.2em;
    color: white;
}